[submodule "Resources/FluentUISystem"]
	path = Resources/FluentUISystem
	url = https://github.com/microsoft/fluentui-system-icons
[submodule "Resources/LineAwesome"]
	path = Resources/LineAwesome
	url = https://github.com/icons8/line-awesome